<div class="div-menu-secondary">
    <ul id="menu-secondary" class="navbar-nav navbar-custom-settings">
        <li class="nav-item">
          <a href="#!appearance" class="item">Appearance</a>
        </li>
        <li class="nav-item">
            <a href="#!accesibility" class="item">Accesibility</a>
          </li>
          <li class="nav-item">
            <a href="#!notifications" class="item">Notifications</a>
          </li> 
          <li class="nav-item">
            <a href="#!privacyandsecurity" class="item">Privacy and Security</a>
          </li> 
      </ul>
    </div>

    <h1>Accesibility</h1>