<div class="row justify-content-center content" ng-controller="changePasswordCtrl">
  <div class="card new-post-card">
    <div class="card-body">

      <h1 class="text-center pb-4">Cambiar contraseña</h1>

      <form ng-submit="submit()">

        <!-- Contraseña actual -->
        <div class="form-group">
          <label for="currentPassword">Contraseña actual</label>
          <div class="position-relative">
            <input type="password"
                   class="form-control custom-input"
                   id="currentPassword"
                   ng-model="form.currentPassword"
                   placeholder="**********"
                   required>

            <i class="fa fa-eye password-toggle-icon"
               ng-click="toggleVisibility('currentPassword')"
               id="icon-currentPassword"></i>
          </div>
        </div>

        <!-- Nueva contraseña -->
        <div class="form-group mt-3">
          <label for="newPassword">Nueva contraseña</label>
          <div class="position-relative">
            <input type="password"
                   class="form-control custom-input"
                   id="newPassword"
                   ng-model="form.newPassword"
                   placeholder="**********"
                   minlength="8"
                   required>

            <i class="fa fa-eye password-toggle-icon"
               ng-click="toggleVisibility('newPassword')"
               id="icon-newPassword"></i>
          </div>
          <p class="form-text mt-2">Debe contener al menos <b class="text-danger">8</b> caracteres.</p>
        </div>

        <button class="btn btn-success btn-block mt-4" type="submit">
          <i class="fas fa-key"></i> Cambiar contraseña
        </button>

        <button class="btn btn-danger btn-block mt-2" ui-sref="config">
          Cancelar
        </button>

      </form>

    </div>
  </div>
</div>