
    <div class="row justify-content-center">
        <div class="col-12 col-lg-4">
            <div class="card p-3 bloque">
                <div class="card-body page active" id="logoutDiv">
                <form id="logoutForm" method="POST">
                    <h1 class="text-center pb-4">Crear anuncio</h1>
                    
                    <button class="btn btn-block btn-primary" id="logout" >Crear anuncio</button>
                    </form>
                </div>
            </div>      
        </div>
    </div>
