    <h1 class="d-flex justify-content-center">Solicitudes pendientes</h1>
    <hr class="hr-main">
    <div class="container mt-5 mb-5">
      
      <div class="form-row mb-5">

        <div class="col-auto col-md-6 col-sm-6">
          <button type="submit" class="btn btn-post col-12" ng-click="showSentApp()">Enviadas</button>
        </div>

        <div class="col-auto col-md-6 col-sm-6">
          <button type="submit" class="btn btn-post col-12" ng-click="showReceivedApp()">Recibidas</button>
        </div>
     
      </div>

  
        <div class="container-fluid mx-auto p-3 post" ng-repeat="app in applications">
  
          <div class="row justify-content-start px-3">
  
            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 pl-0">
              <h2>{{app.title}}</h2>
              </div>
      
              <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4  text-right">
              <h2>{{app.actualUsers}} / {{app.requiredUsers}}</h2>
          
              </div>
            </div>  
  
    
          <div class="line"></div>
            
          <br>
          <button type="submit" class="col-sm-12  col-lg-12 btn btn-danger" ng-click="btnCancelApplication(app.id_post)">Cancelar</button>

        </div>

        <div class="container-fluid mx-auto p-3 post" ng-repeat="post in posts">
  
          <div class="row justify-content-start px-3">
  
            <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 pl-0">
              <h2>{{post.title}}</h2>
              </div>
      
              <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4  text-right">
              <h2>{{post.actualUsers}} / {{post.requiredUsers}}</h2>
          
              </div>
            </div>  
    
          <div class="line"></div>
            
          <div class="container-fluid mx-auto p-3 post" ng-repeat="user in post.users">
  
            <div class="row justify-content-start px-3 pl-0">
      
              <h2>{{user.name}}</h2>
    
      
            <div class="line"></div>
              
            <br>
            <div class="col-auto col-md-6 col-sm-6">
              <button type="submit" class="btn btn-post col-12" ng-click="acceptUser(user.id_user)">Aceptar</button>
            </div>
    
            <div class="col-auto col-md-6 col-sm-6">
              <button type="submit" class="btn btn-danger col-12" ng-click="rejectUser(user.id_user)">Rechazar</button>
            </div>
            </div>
          </div>

          <button type="submit" class="col-sm-12  col-lg-12 btn btn-danger" ng-click="deletePost(post.id_post)">Eliminar post</button>
        </div>
  
      
