<div>
  <h1 class="d-flex justify-content-center">Live plays</h1>
  <hr class="hr-main">
  <div class="container mt-5 mb-5">

  <div class="container-fluid py-5 mx-auto post">
    <div class="row justify-content-start px-3">
      <div class="image-bg mr-3">
          <img class="user-img fit-image" src="https://i.imgur.com/RCwPA3O.jpg">
      </div>
      <div class="text-left">
          <h2>Kiera Hill</h2>
          <div class="mt-1 mb-1 spec-1">
            <span>Competitivo</span><span class="dot"></span><span>Cazador de trofeos </span><span class="dot"></span><span>PS4<br></span>
          </div>
      </div>
      <div class="btn btn-pink ml-auto">Unirse</div>
  </div>
  <div class="line"></div>
  <div class="ss">
    <img id="game" class="img-fluid img-responsive rounded product-image" src="../img/games/MultiVersus.jpg">
    <p id="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, maxime deserunt? Quae eaque quo, repellat autem explicabo totam iste nisi sint dolores illum cum tempore consequatur nam? Saepe, nam sunt?</p>
    
  </div>
  </div>

  <div class="container-fluid py-5 mx-auto post">
    <div class="row justify-content-start px-3">
      <div class="image-bg mr-3">
          <img class="user-img fit-image" src="https://i.imgur.com/RCwPA3O.jpg">
      </div>
      <div class="text-left">
          <h2>Kiera Hill</h2>
          <div class="mt-1 mb-1 spec-1">
            <span>Competitivo</span><span class="dot"></span><span>Cazador de trofeos </span><span class="dot"></span><span>PS4<br></span>
          </div>
      </div>
      <div class="btn btn-pink ml-auto">Unirse</div>
  </div>
  <div class="line"></div>
  <div class="ss">
    <img id="game" class="img-fluid img-responsive rounded product-image" src="../img/games/MultiVersus.jpg">
    <p id="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, maxime deserunt? Quae eaque quo, repellat autem explicabo totam iste nisi sint dolores illum cum tempore consequatur nam? Saepe, nam sunt?</p>
    
  </div>
  </div>


</div>