<div>
  <h1 class="d-flex justify-content-center">Live plays</h1>
  <hr class="hr-main">
  <div class="container mt-5 mb-5">

    <form id="searchPostForm" method="POST" onsubmit="searchPost(this)">
  
      <div class="form-row">

          <div class="form-group col-md-3">
            <select class="custom-select" id="game"  onchange="setPlatforms(this)" required>
        </select>
      </div>
    
        <div class="form-group col-md-3">
                <select class="custom-select" id="platform" required>
            </select>
          </div>

      <div class="form-group col-md-3">
        <select class="custom-select" id="mode" required>
          </select>
    </div>
    
    <div class="col-auto col-md-3 col-sm-12">
        <button type="submit" class="btn btn-post col-12">Buscar</button>
    </div>
     
  </div>

    </form>
    
    <div id="ads"></div>
</div>