
    <div class="row justify-content-center">
            <div class="card bloque">
                <div class="card-body page active" id="newPostDiv">
                <form id="newPostForm" method="POST" onsubmit="savePost(this)">
                    <h1 class="text-center pb-4">Crear anuncio</h1>
                    
                    <div class="form-group">
                        <label for="title">Título:</label>
                        <input type="text" class="form-control" name="title" id="title"
                            placeholder="Ingrese el título" value="" required>
                    </div>

                    <div class="form-group">
                        <label for="games">Juegos:</label>
                        <br>
                        <select class="custom-select" id="games" onchange="setPlatforms(this)" required>
                          </select>
                          <br>
                    </div>

                    <div class="form-group">
                        <label for="platform">Plataforma:</label>
                        <br>
                        <select class="custom-select" id="platform" required>
                            <option disabled selected>Selecciona un juego</option>
                          </select>
                          <br>
                    </div>
                    
                    <div class="form-group">
                        <label for="platform">Modo de juego:</label>
                        <br>
                        <select class="custom-select" id="mode" required>
                          </select>
                    </div>

                    <div class="form-group">
                        <label for="usersRequire">Usuarios requeridos:</label>
                        <br>
                        <select class="custom-select" id="usersRequire">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                          </select>
                          <br>
                    </div>

                    <div class="form-group">
                        <label for="description">Descripcion del anuncio:</label>
                        <textarea id="description" name="description" rows="4" cols="20" maxlength="280">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos officia dolore quod accusantium ipsa, fugiat velit corrupti nemo consequuntur accusamus ducimus, repellat quibusdam voluptatem quidem unde ipsam. Officiis, necessitatibus eveniet.</textarea>
                        <br>
                    </div>


                    <button class="btn btn-block btn-primary" id="newPost">Crear anuncio</button>
                    </form>
                </div>
            </div>      
    </div>
