<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <div class="card-body" id="loginDiv">
                <form id="forgotPasswordForm" ng-submit="resetPassword(form.email)">
                    <h1 class="text-center">¿Olvidaste tu contraseña?</h1>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control custom-input" name="email"
                            placeholder="Ingrese su email" value="" required ng-model="form.email">
                    </div>

                    <button type="submit" class="btn btn-block btn-success">Reiniciar contraseña</button>

                </form>
            </div>
        </div>
    </div>
</div>