<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <div class="card-body" id="loginDiv">
                <form id="forgotPasswordForm" ng-submit="resetPassword(form.email)">
                    <h1 class="text-center">¿Problemas para entrar?</h1>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control custom-input" name="email"
                            placeholder="Ingrese su email" value="" required ng-model="form.email">
                    </div>

                    <button type="submit" class="btn btn-block btn-success">Restablecer contraseña</button>

                </form>
                <form>
                    <br>
                    <h2 class="text-center pb-4">Ya tienes una cuenta?</h2>
                    <button class="btn btn-block btn-success" ui-sref="login" id="toggle">Iniciar sesión</button>
                </form>
            </div>
        </div>
    </div>
</div>