<div class="content">
    <h1 class="d-flex justify-content-center">Resalta a los mejores jugadores</h1>
    <hr class="hr-main">


    <div class="container mt-5 mb-5">


        <div class="mt-5 mb-5">
            <div class="d-flex rewards">
                <div class="p-4 text-center" ng-repeat="reward in rewards">
                    <img crossorigin="anonymous" data-ng-src="{{API_BASE_URL}}/images/{{reward.img}}" class="img-fluid" alt={{reward.name}}>
                    <h2>$ {{reward.price}}</h2>
                    <p>{{reward.description}}</p>
                    <button type="button" class="btn btn-success" ng-click="btnBuy(reward)">
                        <i class="fas fa-shopping-cart"></i>Comprar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>