<div class="row justify-content-center content">
    <div class="card bloque">
        <div class="card-body " id="newPostDiv">
            <form id="newPostForm" method="POST"
                ng-submit="createPost(form, gameSelected, platformSelected, modeSelected)">
                <h1 class="text-center pb-4">Crear anuncio</h1>

                <div class="form-group">
                    <label for="title">Título:</label>
                    <input type="text" class="form-control custom-input" name="title" id="title" placeholder="Ingrese el título"
                        value="" maxlength="45" required ng-model="form.title">
                </div>

                <div class="form-group">
                    <label for="games">Juegos:</label>
                    <br>
                    <select class="custom-select custom-input" ng-model="gameSelected" required
                        ng-options="option as option.name for option in gameOptions track by option.value"
                        ng-change="setPlatforms(gameSelected)">
                    </select>
                    <br>
                </div>

                <div class="form-group">
                    <label for="platform">Plataforma:</label>
                    <br>
                    <select class="custom-select custom-input" ng-model="platformSelected" required
                        ng-options="option as option.name for option in platformOptions track by option.value">
                    </select>
                    <br>
                </div>

                <div class="form-group">
                    <label for="platform">Modo de juego:</label>
                    <br>
                    <select class="custom-select custom-input" ng-model="modeSelected" required
                        ng-options="option as option.name for option in modeOptions track by option.value">
                    </select>
                </div>

                <div class="form-group">
                    <label for="usersRequire">Usuarios requeridos:</label>
                    <br>
                    <select class="custom-select custom-input" id="usersRequire" ng-model="form.userRequire"
                        ng-init="form.userRequire='1'">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <br>
                </div>

                <div class="form-group ">
                    <label for="description">Descripcion del anuncio:</label>
                    <textarea id="description" class="custom-input w-100" name="description" rows="4" maxlength="280" class="col-12"
                        ng-model="form.description" placeholder="Description"></textarea>
                    <br>
                </div>


                <button class="btn btn-block btn-success" id="newPost">Crear anuncio</button>
            </form>
        </div>
    </div>
</div>