<div class="content">
  <h1 class="d-flex justify-content-center">Solicitudes pendientes</h1>
  <hr class="hr-main">
  <div class="container mt-5 mb-5">

    <div class="form-row mb-5">

      <div class="col-auto col-md-6 col-sm-6">
        <button type="submit" class="btn btn-success col-12" ng-click="showSentApps()"
          ng-class="{ 'selected': applications.length > 0 }">Enviadas</button>
      </div>

      <div class="col-auto col-md-6 col-sm-6">
        <button type="submit" class="btn btn-success col-12" ng-click="showReceivedApps()"
          ng-class="{ 'selected': posts.length > 0 }">Recibidas</button>
      </div>

    </div>


    <div class="container-fluid mx-auto p-3 post" ng-repeat="app in applications">

      <div class="row justify-content-start px-3">

        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 pl-0">
          <h2>{{app.title}}</h2>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4  text-right">
          <h2>{{app.actualusers}} / {{app.requiredusers}}</h2>

        </div>
      </div>


      <div class="line"></div>

      <br>

      <div ng-if="app.applications.status == 'rejected' || app.applications.status == 'accepted'">
        <p ng-show="app.applications.status == 'rejected'">Solicitud rechazada</p>
        <p ng-show="app.applications.status == 'accepted'">Solicitud aceptada</p>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-12 text-center mb-2" ng-if="app.applications.status == 'accepted'"
          ng-click="contact(app.id_user)">

          <a href="" class="btn btn-success w-100">Contactar</a>
        </div>

        <div class="col-sm-12 col-md-12 text-center mb-2">
          <button type="submit" class="btn btn-danger btn-block"
            ng-click="btnCancelApplication(app.id_post, app.applications.id_application)">Cancelar</button>
        </div>
      </div>

    </div>

    <div class="container-fluid mx-auto p-3 post" ng-repeat="post in posts">

      <div class="row justify-content-start px-3">

        <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 pl-0">
          <h2>{{post.title}}</h2>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4  text-right">
          <h2>{{post.actualusers}} / {{post.requiredusers}}</h2>

        </div>
      </div>

      <div class="line"></div>

      <div class="container-fluid mx-auto p-3 post" ng-repeat="user in post.users"
        ng-show="user.applications.status !== 'rejected'">

        <div class="row justify-content-start px-3">
          <div class="col-lg-auto col-md-3 col-md-3 col-sm-4 text-left">
            <img class="user-img fit-image" crossorigin="anonymous" data-ng-src="{{SIDEKICK_API}}images/{{user.img}}"               onerror="this.onerror=null; this.src='https://sidekick-server-nine.vercel.app/api/images/profiles/default.png';">

          </div>

          <div class="col text-left">

            <h2><a ui-sref="profile({id_user: user.id_user})">{{user.name}}</a></h2>

          </div>

          <div class="line"></div>

          <br>
          <div class="col-auto col-md-6 col-sm-6"
            ng-if="user.applications.status == 'pending' && post.actualusers < post.requiredusers">
            <button type="submit" class="btn btn-success col-12"
              ng-click="changeStatus(post.id_post, user.applications.id_application,'accepted')">Aceptar</button>
          </div>

          <div class="col-auto col-md-6 col-sm-6"
            ng-if="user.applications.status == 'pending' && post.actualusers == post.requiredusers">
            <button type="submit" class="btn btn-warning col-12" disabled>Post completo</button>
          </div>

          <div class="col-auto col-md-6 col-sm-6" ng-if="user.applications.status == 'pending'">
            <button type="submit" class="btn btn-danger col-12"
              ng-click="changeStatus(post.id_post, user.applications.id_application, 'rejected')">Rechazar</button>
          </div>

          <div class="col-auto col-md-12 col-sm-12" ng-if="user.applications.status == 'accepted'"
            ng-click="contact(user.id_user)">
            <br>
            <a href="" class=" btn btn-success col-12">Contactar</a>
          </div>

          <div class="col-auto col-md-6 col-sm-6" ng-if="user.applications.status == 'accepted'"
            ui-sref="rate({id_user: user.id_user, id_post: post.id_post, id_application: user.applications.id_application})">
            <br>
            <a href="" class="btn btn-success col-12">Calificar</a>
          </div>

          <div class="col-auto col-md-6 col-sm-6" ng-if="user.applications.status == 'accepted'"
            ng-click="changeStatus(post.id_post, user.applications.id_application, 'rejected')">
            <br>
            <a href="" class="btn btn-danger col-12">Eliminar</a>
          </div>

        </div>
      </div>

      <button type="submit" class="col-sm-12  col-lg-12 btn btn-danger" ng-click="btnDeletePost(post.id_post)">Eliminar
        post</button>
    </div>

    <p ng-show="!posts[0] && !applications[0]">No se encontraron criticas</p>



  </div>