<div class="content">
  <h1 class="d-flex justify-content-center">Posts más recientes</h1>
  <hr class="hr-main">
  <div class="container mt-5 mb-5">

    <form>

      <div class="form-row">

        <div class="form-group col-md-3">
          <searchable-dropdown 
              options="gameOptions"
              selected-option="gameSelected"
              on-select="onGameSelect(selectedOption)"
              placeholder="Selecciona un juego">
          </searchable-dropdown>
        </div>

        <div class="form-group col-md-3">
          <select class="custom-select custom-input" ng-model="platformSelected" required
            ng-options="option as option.name for option in platformOptions track by option.value">
            <option value="" disabled ng-show="!gameSelected">Selecciona un juego primero</option>
            <option value="" disabled ng-show="gameSelected && platformOptions.length === 0">No hay plataformas disponibles</option>
          </select>
        </div>

        <div class="form-group col-md-3">
          <select class="custom-select custom-input" ng-model="modeSelected" required
            ng-options="option as option.name for option in modeOptions track by option.value">
          </select>
        </div>

        <div class="col-md-3">
          <button type="submit" class="btn btn-success col-12"
                  ng-click="btnSearchPost(gameSelected, platformSelected, modeSelected)">
            <i class="fas fa-search"></i> Buscar
          </button>
        </div>

      </div>

    </form>

    <div id="posts" style="margin-top: 20px">

      <div class="container-fluid mx-auto p-3 post" ng-repeat="post in posts">

        <div class="row justify-content-start px-3">

          <div class="col-lg-auto col-md-3 col-md-3 col-sm-4">
            <img class="user-img fit-image" crossorigin="anonymous"
              data-ng-src="{{post.userImg}}">
          </div>

          <div class="col text-left">
            <div class="mt-1 mb-1 spec-1">
              <div class="d-flex flex-wrap align-items-center">
                <span>
                  <a ui-sref="profile({id_user: post.id_user})">
                    <h2>{{post.userName}}</h2>
                  </a>
                </span>
                <span class="text-right ml-auto">
                  <h2>{{post.actualusers}} / {{post.requiredusers}}</h2>
                </span>
              </div>

              </span><span>{{post.modeName}}</span><span class="dot"></span><span>{{post.platformName}}</span><span
                class="dot"></span>
              <span>Habilidad: </span><span id="ability">{{post.abilityscore}}</span><span
                class="dot"></span><span>Karma: <span id="karma">{{post.karmascore}}</span><br></span>

              <span class="gray-text">{{ utils.calculateTimeElapsed(post.date) }}</span><br>
            </div>
          </div>
        </div>

        <div class="line"></div>

        <div class="row ml-auto">
          <h2 class="col-12">{{post.title}}</h2>
          <img class="img-responsive rounded product-image postGame" alt={{post.gameName}} crossorigin="anonymous"
               data-ng-src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{post.coverImage}}.jpg">
          <p class="col">{{post.description}}</p>
        </div>
        <br>
        <div class="post-buttons mt-2">

          <!-- Si eres el creador del post -->
          <button type="button"
                  class="col-sm-12 col-lg-12 btn btn-info d-flex align-items-center justify-content-center"
                  disabled
                  ng-if="post.id_user == currentUserId">
            <i class="fas fa-crown mr-2"></i> Creador
          </button>

          <!-- Si no eres el creador y hay cupos -->
          <button type="button"
                  class="col-sm-12 col-lg-12 btn btn-success d-flex align-items-center justify-content-center"
                  ng-click="btnSubmitApplication(post.id_post, post.id_user)"
                  ng-if="post.id_user != currentUserId && post.actualusers < post.requiredusers">
            <i class="fas fa-user-plus mr-2"></i> Unirse
          </button>

          <!-- Si el post está completo y no eres el creador -->
          <button type="button"
                  class="col-sm-12 col-lg-12 btn btn-warning d-flex align-items-center justify-content-center"
                  disabled
                  ng-if="post.actualusers >= post.requiredusers && post.id_user != currentUserId">
            <i class="fas fa-lock mr-2"></i> Post completo
          </button>

        </div>

      </div>

      <p ng-show="!posts[0]">No se encontraron resultados</p>
    </div>

  </div>
</div>