@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');

/* PALETA DE COLORES

BLANCO			::  #E7E9EA
NEGRO			::  #020202
GRIS OSCURO		::	#3e3c3d
GRIS			::	#494649
GRIS CLARO		::	#535053
VERDE OSCURO	::	#0eaa61
VERDE SELLECCIONADO :: 047734
VERDE			::	#11d077
VERDE CLARO		::	#1ded8c
*/

body {
	font-family: 'Alegreya Sans', sans-serif;
	overflow-x: hidden;
	background-color: #020202;
	color: #E7E9EA;
}

body .col-12 {
	padding-left: 0;
}

#menu {
	width: 70px;
	background-color: #020202;
	border-right: 1px solid #3e3c3d;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	bottom: 0;
}

#menu li {
	flex-direction: row;
	margin: 10px 10px;
}

#rightSection {
	width: 200px;
	background-color: #020202;
	border-left: 1px solid #3e3c3d;
	position: fixed;
	text-align: center;
	top: 0;
	right: 0;
	bottom: 0;
}

ul,
li {
	display: inline
}

li.right {
	float: right;
}

.content {
	margin-left: 80px;
	margin-right: 200px;
}

.card {
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .2);
	border: 1px solid #3e3c3d;
	background-color: #020202;
	margin: 20px;
	margin-bottom: 0px !important;

}

.nav-item.current {
	border-radius: 50px;
	-webkit-box-shadow: 2px 2px 5px 0px #1ded8c;
	-moz-box-shadow: 2px 2px 5px 0px #1ded8c;
	box-shadow: 2px 2px 5px 0px #1ded8c;
}

.nav-item:hover {
	border-radius: 50px;
	-webkit-box-shadow: 2px 2px 5px 0px #1ded8c;
	-moz-box-shadow: 2px 2px 5px 0px #1ded8c;
	box-shadow: 2px 2px 5px 0px #1ded8c;
}

.hr-main {
	border: 0;
	height: 1px;
	background: #1ded8c;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 20px;

}

.backg-primary {
	background-color: #494649;
}

.liveplay-img {
	height: 128px;
	width: 128px;
	margin: 10px;
	position: absolute;
}

.page {
	display: none;
}

.page.active {
	display: block;
}


.onlinefriends-img {
	height: 128px;
	width: 128px;
	margin: 10px;
	position: absolute;
}

.loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 120px;
	height: 120px;
	margin: -76px 0 0 -76px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #1ded8c;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

textarea {
	resize: none;
}

.games-grid img {
	padding: 10px;
}


.product-image {
	width: 100%
}

.dot {
	height: 7px;
	width: 7px;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 3px;
	background-color: #1ded8c;
	border-radius: 50%;
	display: inline-block
}

h5 {
	font-weight: 400
}

.post {
	border: 1px solid #3e3c3d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 20px;
}



.line {
	height: 1px;
	background-color: #1ded8c;
	width: 100%;
	margin: 15px 0px;
}


.user-img {
	border-radius: 50%;
	cursor: pointer;
	height: 102px;
	width: 102px;
}

.image-bg {
	width: 100px;
	object-fit: cover;
}

.fit-image {
	object-fit: cover;
}


.postGame {
	width: auto;
	padding-right: 10px;
	height: fit-content;
	float: left;
}

.rightContent img {
	padding-bottom: 10px;

}

input::file-selector-button {
	color: white;
	background-color: #007bff;
	border-color: #007bff;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
}

button.active {
	background-color: #0eaa61 !important;
}

.rewards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	/* ADJUSTMENT */
}

.post a {
	color: white;
}

.is-required:after {
	content: '*';
	margin-left: 3px;
	color: red;
	font-weight: bold;
}

#notification-tab .dot {
	position: absolute;
	margin-left: -5px;
	margin-top: -5px;
	height: 10px;
	width: 10px;
}

.contactInf-container {
	gap: 8px;
	display: flex;
	flex-direction: column;
}

.contactInf {
	display: flex;
	justify-content: flex-start;
	gap: 8px;
	align-items: center;
}

.contactInf-img {
	width: 45px;
}

.center-self {
	align-self: center;
}

.form-group .custom-input {
	background-color: #020202;
	color: #E7E9EA;
}

.form-group .custom-input:focus {
	border-color: #0eaa61;
	box-shadow: none;
}

.form-group .custom-input:focus-visible {
	outline: none;
}

.gray-text {
	color: #535053 !important;
}

input[type="file"] {
	display: none;
}

.custom-file-upload {
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
}