<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <title>SideKick</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>510
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <script src="../script.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>

 <div>

    <ul id="menu" class="navbar-nav mr-0">
      <li class="nav-item">
        <a href="#/!" class="item"><img src="../img/Home1.png" alt="home" style="width:50px;height:50px;"></a>
      </li> 
      <li class="nav-item">
        <a href="#!plays" class="item"><img src="../img/Plays3.png" alt="plays" style="width:50px;height:50px;"></a>
      </li>
      <li class="nav-item">
        <a href="#!messages" class="item"><img src="../img/Messages2.png" alt="messages" style="width:50px;height:50px;"></a>
      </li> 
      <li class="nav-item">
        <a href="#!profile" class="item"><img src="../img/Profile.png" alt="profile" style="width:50px;height:50px;"></a>
      </li>
      <li class="nav-item">
        <a href="#!settings" class="item"><img src="../img/Settings4.png" alt="settings" style="width:50px;height:50px;"></a>
      </li>   
    </ul>
  </div>
  
  <div id="content" ng-view></div>

  <script>
    var app = angular.module("myApp", ["ngRoute"]);
    app.config(function($routeProvider) {
        $routeProvider
        .when("/", {
            templateUrl : "section/home.html"
        })
        .when("/plays", {
            templateUrl : "section/plays.html"
        })
        .when("/messages", {
            templateUrl : "section/messages.html"
        })
        .when("/profile", {
            templateUrl : "section/profile.html"
        })
        .when("/settings", {
            templateUrl : "section/settings.html"
        });
    });
    </script>
  
</body>
</html>
