<!DOCTYPE html>
<html>
<head>
  <title>SideKick</title>
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>

  <div id="content">

    <div id="menu" class="nav">
      <a href="#" class="item"><i class="fas fa-home icon"></i>Inicio</a>
      <a href="#" class="item"><i class="fas fa-user-circle icon"></i>juegos</a>
      <a href="#" class="item"><i class="fas fa-images icon"></i>Comentarios</a>
      <a href="#" class="item"><i class="fas fa-map-marker icon"></i>Mi perfil</a>
      <a href="#" class="item last"><i class="fab fa-wpforms icon"></i>Configuracion</a>
    </div>

    <h1>HTML5/CSS3 Static Sidebar Menu</h1>

  </div>



</body>
</html>
