<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <title>SideKick</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>510
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <script src="../script.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<script src="../app.js"></script>
 <div>

    <ul id="menu" class="navbar-nav mr-0">
      <li class="nav-item">
        <a href="#/!" class="item"><img src="../img/home.png" alt="home" style="width:50px;height:50px;"></a>
      </li> 
      <li class="nav-item">
        <a href="#!games" class="item"><img src="../img/gamepad.png" alt="gamepad" style="width:50px;height:50px;"></a>
      </li>
      <li class="nav-item">
        <a href="#!comments" class="item"><img src="../img/comments.png" alt="comments" style="width:50px;height:50px;"></a>
      </li> 
      <li class="nav-item">
        <a href="#!user" class="item"><img src="../img/user.png" alt="user" style="width:50px;height:50px;"></a>
      </li>
      <li class="nav-item">
        <a href="#!config" class="item"><img src="../img/config.png" alt="config" style="width:50px;height:50px;"></a>
      </li>   
    </ul>
  </div>
  
  <div id="content" ng-view></div>
  
</body>
</html>
