<div class="row justify-content-center content">
    <div class="card bloque">
        <div class="card-body ">
            <form id="rateForm" method="POST" ng-submit="newReview(form)">
                <h1 class="text-center pb-4">Calificar usuario</h1>

                <div class="form-group">
                    <label for="abilityScore" class="col-12 pl-0">Habilidad:</label>
                    <input id="abilityScore" name="abilityScore" type="range" class="form-range col-12 p-0" min="0"
                        max="100" id="abilityScore" ng-init="form.abilityScore ='50'" ng-model="form.abilityScore">
                </div>

                <div class="form-group">
                    <label for="karmaScore" class="col-12 pl-0">Karma:</label>
                    <input id="karmaScore" name="karmaScore" type="range" class="form-range col-12 pl-0" min="0"
                        max="100" id="karmaScore" ng-init="form.karmaScore ='50'" ng-model="form.karmaScore">
                </div>

                <div class="form-group">
                    <label for="comment">Comentario:</label>
                    <textarea id="comment" name="comment" rows="4" maxlength="280" class="col-12 p-0"
                        ng-model="form.comment" placeholder="Escriba que te parecio el jugador"></textarea>
                    <br>
                </div>

                <button class="btn btn-block btn-success" type="button" ng-disabled="form.reward"
                    ng-click="btnAddReward(form)">Premiar</button>
                <br>
                <div class="d-flex rewards">
                    <div class="p-2 text-center" ng-repeat="reward in rewards">
                        <img crossorigin="anonymous" data-ng-src="{{SIDEKICK_API}}images/{{reward.img}}"
                            class="img-fluid" alt={{reward.name}}>
                        <p>{{reward.description}}</p>
                        <button type="button" class="btn btn-success"
                            ng-click="btnSelectReward(form, reward)">Seleccionar</button>
                    </div>
                    <div class="p-2 text-center" ng-show="form.reward">
                        <img crossorigin="anonymous" data-ng-src={{SIDEKICK_API}}images/{{form.reward.img}}
                            class="img-fluid" alt={{form.reward.name}}>
                        <p>{{form.reward.description}}</p>
                        <button type="button" class="btn btn-danger" ng-click="btnDeleteReward(form)">Eliminar</button>
                    </div>
                    <div ng-show="rewards == 0 && !form.reward && !stockedRewards" class="text-center pb-4">
                        <p>No tienes ninguna medalla, quieres comprar alguna?</p>
                        <button class="btn btn-success" type="button" ng-click="btnGoToStore()">Comprar</button>
                    </div>


                </div>
                <button class="btn btn-block btn-success" id="newReview">Calificar</button>
        </div>
    </div>
</div>