<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <div class="card-body" id="loginDiv">
                <form id="loginForm" method="POST" ng-submit="login(form)">
                    <h1 class="text-center">Iniciar sesión</h1>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control custom-imput" name="email" placeholder="Ingrese su email" value=""
                            required ng-model="form.email">
                    </div>

                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control custom-imput" name="password" placeholder="**********" value=""
                            required ng-model="form.password">
                    </div>
                    <button id="login" class="btn btn-block btn-success">Iniciar sesión</button>
                </form>
                <form>
                    <br>
                    <h2 class="text-center">Todavia no te registraste?</h2>
                    <button class="btn btn-block btn-success" id="toggle" ui-sref="registration">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
</div>