<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <div class="card-body" id="registrationDiv">
                <form id="registrationForm" method="POST" ng-submit="btnRegister(form)">
                    <h1 class="text-center pb-4">Registrar usuario</h1>
                    <div class="form-group">
                        <label for="userName" class="is-required">Nombre</label>
                        <input type="text" class="form-control custom-input" name="userName"
                            placeholder="Ingrese su nombre" value="" ng-model="form.name" required>
                    </div>

                    <div class="form-group">
                        <label for="email" class="is-required">Email</label>
                        <input type="email" class="form-control custom-input" name="email"
                            placeholder="Ingrese su email" value="" ng-model="form.email" required>
                    </div>

                    <div class="form-group">
                        <label>Elegir foto de perfil:</label><br>
                        <label class="custom-file-upload btn btn-block btn-success col-12">
                            <input type="file" name="file" accept="image/png, image/jpeg" id="file"
                                ng-model="form.file">Seleccionar foto
                        </label>

                    </div>

                    <div class="form-group">
                        <label for="contact" class="is-required">Contacto</label>
                        <br>
                        <div class="d-flex pb-4" ng-repeat="contact_inf in contact_inf_list track by $index">
                            <select class="custom-select col-3 custom-input" name="platform"
                                ng-model="contact_inf.platform" required
                                ng-options="option as option.name for option in contactOptions track by option.id_contact_inf">
                            </select>
                            <input type="text" class="form-control col-9 custom-input" name="id"
                                placeholder="Ingrese su cuenta o id" value="" required ng-model="contact_inf.account">
                        </div>
                        <div class="d-flex flex-column justify-content-around align-items-end">
                            <button class="btn btn-block btn-success col-12" type="button"
                                ng-click="btnAddAccount()">Agregar otra cuenta</button>
                            <button class="btn btn-block btn-danger col-12" type="button" ng-click="btnRemoveLast()"
                                ng-if="contact_inf_list.length > 1">Eliminar último</button>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Contanos un poco sobre vos</label>
                        <textarea class="form-control custom-input w-100" id="description" name="description" rows="3"
                            maxlength="280" ng-model="form.description"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="password" class="is-required">Contraseña</label>
                        <input type="password" class="form-control custom-input" name="password"
                            placeholder="**********" value="" ng-model="form.password" required>
                        <p id="imagenHelp" class="form-text">Su contraseña debe contener <b class="text-danger">8</b>
                            caracteres como mímimo.</p>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" name="terms" id="terms" required> Aceptar términos y condiciones <br>
                        <a href="" class="text-decoration-none" ng-click="showTerms()">Ver términos y condiciones</a>
                    </div>

                    <button id="registration" class="btn btn-block btn-success">Registrarse</button>
                </form>
                <form>
                    <br>
                    <h2 class="text-center pb-4">Ya tienes una cuenta?</h2>
                    <button class="btn btn-block btn-success" ui-sref="login" id="toggle">Iniciar sesión</button>
                </form>
            </div>
        </div>
    </div>
</div>