<div class="content" ng-init="limit=20" ng-cloak>
  <h1 class="d-flex justify-content-center">Juegos</h1>
  <hr class="hr-main">

  <div class="games-grid" id="games">
    <img
        crossorigin="anonymous"
        ng-repeat="game in games track by game.id"
        ng-if="game.cover && game.cover.image_id"
        data-ng-src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{game.cover.image_id}}.jpg"
        class="img-fluid"
        alt="{{game.name}}">
  </div>

  <div class="d-flex justify-content-center align-items-center mt-3 pb-4"
       ng-if="!loading && games && games.length > 0">

    <button
        class="btn btn-outline-light rounded-pill px-4 fw-semibold me-4"
        ng-if="page > 1"
        ng-click="prevPage()">
      Anterior
    </button>

    <span class="fw-bold text-light mx-4">
      Página {{page}}
    </span>

    <button
        class="btn btn-outline-light rounded-pill px-4 fw-semibold ms-4"
        ng-click="nextPage()"
        ng-disabled="!hasNext">
      Siguiente
    </button>

  </div>
</div>
