@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');

body {
	font-family: 'Alegreya Sans', sans-serif;
	overflow-x: hidden;
	background-color: #263238;
	color: white;
}
#content {
	padding: 15px;
	margin-top: 70px;
	margin-left: 95px;
	width: 100%;
}
.navbar-custom{
    background-color:black;
}
#menu {
	width: 70px;
	background-color: #00E575;
	position: fixed;
	z-index: 1;
	top: 56px;
	left: 0;
	bottom: 0;
}
#menu li{
	flex-direction: row;
	margin: 10px 10px;
}

ul, li {
    display:inline
}

li.right{
    float: right;
}




















