@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');

/* PALETA DE COLORES

GRIS OSCURO		::	#3e3c3d
GRIS			::	#494649
GRIS CLARO		::	#535053
VERDE OSCURO	::	#0eaa61
VERDE			::	#11d077
VERDE CLARO		::	#1ded8c
*/

body {
	font-family: 'Alegreya Sans', sans-serif;
	overflow-x: hidden;
	background-color: #494649;
	color: white;
}
#menu {
	width: 70px;
	background-color: #3e3c3d;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	bottom: 0;
}
#menu li{
	flex-direction: row;
	margin: 10px 10px;
}

#rightSection {
	width: 200px;
	background-color: #3e3c3d;
	position: fixed;
	text-align: center;
	top: 0;
	right: 0;
	bottom: 0;
}

ul, li {
    display:inline
}

li.right{
    float: right;
}
#content{
	margin-left: 80px;
	margin-right: 200px;
}
.card{
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .2);
	background-color: #494649;
	margin: 20px;
	margin-bottom: 0px !important;

}

.card-plays{
	background-color: #535053;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 0px;
	min-width: 500px;
	min-height: 180px;
	max-width: 500px;
	max-height: 180px;
}

.card-plays-footer{
margin-top: 10px;
max-height: 30px;
min-height: 30px;
}

.text-plays-card-footer{
	margin: 2px  !important; 
	text-align: left;
	font-size: 14px;
	position: absolute;
	bottom: 1px;
	}

.card-plays-img{
	margin: 10px;
	width: auto;
	height: auto;
	position: absolute;
	top: 0px;
}

.card-img{
	background-color: white;
}

.card-text-plays{
	height: 70px;
}

.score.red {
	color: red;
  }

.score.orange {
	color: orange;
  }
  
.score.green {
	color: green;
  }
  
.hr-main{
	border: 0; 
	height: 1px;
	background: #1ded8c;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 20px;

}

.card-deck{
	margin: 20px;

}

.vl {
	border-left: 6px solid #1ded8c;
	height: 500px;
	position: absolute;
	left: 50%;
	margin-left: -3px;
	top: 0;
  }


  .backg-primary {
	background-color: #494649;
  }

.liveplay-img{
	height: 128px;
	width: 128px;
	margin: 10px;
	position: absolute;
}

.page{display: none;}
.page.active {display: block;}


.onlinefriends-img{
	height: 128px;
	width: 128px;
	margin: 10px;
	position: absolute;
}

.card-friends{
	background-color: #535053;
}

.card-friends{
	background-color: #535053;
}

.card-image{
	height: 300px;
	width:auto; 
 }

.loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 120px;
	height: 120px;
	margin: -76px 0 0 -76px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #1ded8c;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

  textarea {
	resize: none;
  }

  .games-grid img{
	padding: 10px;
  }


.product-image{width: 100%}
.dot{height: 7px;width: 7px;margin-left: 6px;margin-right: 6px;margin-top: 3px;background-color: #1ded8c;border-radius: 50%;display: inline-block}
.spec-1{color: #938787;font-size: 15px}
h5{font-weight: 400}

.post{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 20px;
}



.line {
    height: 1px;
    background-color: #1ded8c;
    width: 100%;
    margin: 35px 0px;
}


.user-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.btn-post {
    background-color: #1ded8c;
    color: #fff;
    height: 70px;
    padding: 20px 30px;
    margin-top: 15px;
}

.btn-post:hover {
    background-color: green;
}

.image-bg {
    width: 100px;
}

.fit-image {
    object-fit: cover;
    width: 100%;
}


#game {
	width: auto;
	padding-right: 10px;
	height:fit-content;
	float: left;
  }     