<div class="row justify-content-center content" ng-controller="editProfileCtrl">
  <div class="card new-post-card">
    <div class="card-body">

      <form ng-submit="save()">
        <h1 class="text-center pb-4">Editar perfil</h1>

        <div class="form-group">
          <label for="name">Nombre:</label>
          <input type="text"
                 class="form-control custom-input"
                 id="name"
                 placeholder="Ingrese su nombre"
                 maxlength="45"
                 required
                 ng-model="user.name">
        </div>

        <div class="form-group">
          <label for="description">Descripción:</label>
          <textarea id="description"
                    class="custom-input w-100"
                    rows="4"
                    maxlength="280"
                    ng-model="user.description"
                    placeholder="Descripción del perfil"></textarea>
        </div>

        <button class="btn btn-block btn-success" type="submit">
          <i class="fas fa-save"></i> Guardar cambios
        </button>

        <button class="btn btn-block btn-danger mt-2"
                ui-sref="profile">
          Cancelar
        </button>

      </form>

    </div>
  </div>
</div>
