<div class="content">
  <h1 class="d-flex justify-content-center">User profile</h1>
  <hr class="hr-main">
  <div class="container mt-5 mb-5">

    <div class="container-fluid mx-auto p-3 post">

      <div class="row justify-content-start px-3">

        <div class="col-lg-auto col-md-3 col-md-3 col-sm-4 text-left">
          <img class="user-img fit-image" crossorigin="anonymous"
            data-ng-src="http://localhost:3000/api/images/{{profile.img}}">
        </div>

        <div class="col text-left">
          <div class="d-flex flex-wrap align-items-center">
            <span>
              <h2>{{profile.name}}</h2><span>Habilidad: </span><span id="ability">{{profile.ability}}</span><span
                class="dot"></span><span>Karma: <span id="karma"></span>{{profile.karma}}<br></span>
            </span>
            <span class="text-right ml-auto">
              <h2>star</h2>
            </span>
          </div>
        </div>
      </div>

      <div class="line"></div>

      <div class="row ml-auto">
        <p id="description">{{profile.description}}</p>
      </div>
      <br>
      <button type="submit" class="col-sm-12  col-lg-12 btn btn-success" ng-if="profile.isCurrentUser">Editar</button>
    </div>

    <div class="container-fluid mx-auto p-3 post" ng-repeat="review in reviews">

      <div class="row justify-content-start px-3">

        <div class="col-lg-auto col-md-3 col-md-3 col-sm-4">
          <img class="user-img fit-image" crossorigin="anonymous"
            data-ng-src="http://localhost:3000/api/images/{{review.user.img}}">
        </div>

        <div class="col text-left">
          <div class="mt-1 mb-1 spec-1">
            <a ui-sref="profile({id_user: review.user.id_user})">
              <h2>{{review.user.name}}</h2>
            </a>
            <span>Habilidad: </span><span id="ability">{{review.abilityScore}}</span><span
              class="dot"></span><span>Karma: <span id="karma"></span>{{review.karmaScore}}<br></span>
          </div>
        </div>

        <div class="line"></div>

        <div>
          <p id="description">{{review.comment}}</p>
        </div>

      </div>
    </div>

    <p ng-show="!reviews[0]">No se encontraron criticas</p>
  </div>
</div>

</div>