<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script src="app/session.js"></script>
  <title>SideKick</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

  <!-- Angular links -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
  <script type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/popupS.css">

  <!-- jQuery and Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" 
          integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" 
          crossorigin="anonymous"></script>

</head>

<body>
  <!-- Navigation Bar -->
  <div ng-controller="userCtrl">
    <nav-dir ng-if="checkSession()"></nav-dir>
  </div>

  <div ui-view></div>

  <div ng-controller="userCtrl">
    <div id="rightSection" ng-if="checkSession()">
      <h4 class="d-flex justify-content-center mt-2">Juegos más esperados</h4>

      <div class="games-grid" id="games" ng-controller="gameCtrl" ng-init="limit=10; sortBy='hypes'; sortOrder='desc'">
        <img crossorigin="anonymous" data-ng-src="https://images.igdb.com/igdb/image/upload/t_1080p/{{game.cover.image_id}}.jpg" class="img-fluid" alt="{{game.name}}"
          ng-repeat="game in games">

      </div>
    </div>
  </div>

  <!-- Angular Modules -->
  <script type="text/javascript" src="app/app.module.js"></script>
  <script type="text/javascript" src="app/app.routes.js"></script>
  <script type="text/javascript" src="app/components/login/loginCtrl.js"></script>
  <script type="text/javascript" src="app/components/forgotPassword/forgotPasswordCtrl.js"></script>  <script type="text/javascript" src="app/components/registration/registrationCtrl.js"></script>
  <script type="text/javascript" src="app/components/users/userService.js"></script>
  <script type="text/javascript" src="app/components/users/userCtrl.js"></script>
  <script type="text/javascript" src="app/components/home/homeCtrl.js"></script>
  <script type="text/javascript" src="app/components/applications/applicationCtrl.js"></script>
  <script type="text/javascript" src="app/components/config/configCtrl.js"></script>
  <script type="text/javascript" src="app/components/games/gameCtrl.js"></script>
  <script type="text/javascript" src="app/components/games/gameService.js"></script>
  <script type="text/javascript" src="app/components/notifications/notificationsCtrl.js"></script>
  <script type="text/javascript" src="app/components/notifications/notificationService.js"></script>
  <script type="text/javascript" src="app/components/notifications/notificationStateService.js"></script>
  <script type="text/javascript" src="app/components/newPost/newPCtrl.js"></script>
  <script type="text/javascript" src="app/components/posts/postService.js"></script>
  <script type="text/javascript" src="app/components/profile/profileCtrl.js"></script>
  <script type="text/javascript" src="app/components/profile/editProfileCtrl.js"></script>
  <script type="text/javascript" src="app/components/rate/rateCtrl.js"></script>
  <script type="text/javascript" src="app/components/store/storeCtrl.js"></script>
  <script type="text/javascript" src="app/shared/navigation-sidebar/navbarDirective.js"></script>
  <script type="text/javascript" src="app/shared/navigation-sidebar/navbarService.js"></script>
  <script type="text/javascript" src="app/components/modes/modeService.js"></script>
  <script type="text/javascript" src="app/components/platforms/platformService.js"></script>
  <script type="text/javascript" src="app/components/reviews/reviewService.js"></script>
  <script type="text/javascript" src="app/components/rewards/rewardService.js"></script>
  <script type="text/javascript" src="app/components/popups/popupService.js"></script>
  <script type="text/javascript" src="app/components/contact_inf/contact_infService.js"></script>
  <script type="text/javascript" src="app/components/auth/authService.js"></script>
  <script type="text/javascript" src="app/components/payment/paymentService.js"></script>
  <script type="text/javascript" src="app/shared/searchable-dropdown/searchableDropdownDirective.js"></script>

    <script type="text/javascript" src="app/config.js"></script>
</body>

</html>